#verbs-container {
    margin: 0 35%;
}

.verbs-answer {
    display: block;
}

.rightAnswer,
.rightAnswer:hover {
    background-color: green;
    border-color: green;
    color: white;
}

.wrongAnswer,
.wrongAnswer:hover {
    background-color: red;
    border-color: red;
    color: white;
}

#next {
    margin-top: 8rem;
    cursor: pointer;
    color: green;
}